QScrollArea {
	background-color: #282E33;
}

/* The vertical track */
QScrollBar:vertical {
    border: none;
    background: #3B4145;
    width: 4px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
}

/* The slider handle */
QScrollBar::handle:vertical {
    background: #73777A;
    min-height: 30px;
    border-radius: 2px;
}
QScrollBar::handle:vertical:hover {
    background: #A2A5A7;
}
QScrollBar::handle:vertical:pressed {
    background: #A2A5A7;
}

/* The arrow buttons */
QScrollBar::sub-line:vertical,
QScrollBar::add-line:vertical {
    border: none;
    background: none;
    height: 0px; 
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    border: none;
    background: none;
}

/* The track extensions */
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}